<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.AdminbankMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.Adminbank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_admin_id" jdbcType="VARCHAR" property="fkAdminId" />
    <result column="bankimg" jdbcType="VARCHAR" property="bankimg" />
    <result column="bankId" jdbcType="VARCHAR" property="bankid" />
    <result column="bankname" jdbcType="VARCHAR" property="bankname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fk_admin_id, bankimg, bankId, bankname, createtime
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.AdminbankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adminbank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adminbank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adminbank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.AdminbankExample">
    delete from adminbank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.Adminbank">
    insert into adminbank (id, fk_admin_id, bankimg, 
      bankId, bankname, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{fkAdminId,jdbcType=VARCHAR}, #{bankimg,jdbcType=VARCHAR}, 
      #{bankid,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.Adminbank">
    insert into adminbank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkAdminId != null">
        fk_admin_id,
      </if>
      <if test="bankimg != null">
        bankimg,
      </if>
      <if test="bankid != null">
        bankId,
      </if>
      <if test="bankname != null">
        bankname,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkAdminId != null">
        #{fkAdminId,jdbcType=VARCHAR},
      </if>
      <if test="bankimg != null">
        #{bankimg,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.AdminbankExample" resultType="java.lang.Long">
    select count(*) from adminbank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update adminbank
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fkAdminId != null">
        fk_admin_id = #{record.fkAdminId,jdbcType=VARCHAR},
      </if>
      <if test="record.bankimg != null">
        bankimg = #{record.bankimg,jdbcType=VARCHAR},
      </if>
      <if test="record.bankid != null">
        bankId = #{record.bankid,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update adminbank
    set id = #{record.id,jdbcType=INTEGER},
      fk_admin_id = #{record.fkAdminId,jdbcType=VARCHAR},
      bankimg = #{record.bankimg,jdbcType=VARCHAR},
      bankId = #{record.bankid,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.Adminbank">
    update adminbank
    <set>
      <if test="fkAdminId != null">
        fk_admin_id = #{fkAdminId,jdbcType=VARCHAR},
      </if>
      <if test="bankimg != null">
        bankimg = #{bankimg,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        bankId = #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.Adminbank">
    update adminbank
    set fk_admin_id = #{fkAdminId,jdbcType=VARCHAR},
      bankimg = #{bankimg,jdbcType=VARCHAR},
      bankId = #{bankid,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selBankList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from adminbank
    where fk_admin_id = #{0}
  </select>
</mapper>