<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.ChatMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.Chat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_id" jdbcType="VARCHAR" property="sendId" />
    <result column="to_id" jdbcType="VARCHAR" property="toId" />
    <result column="chat_msg" jdbcType="VARCHAR" property="chatMsg" />
    <result column="chattype" jdbcType="CHAR" property="chattype" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="isread" jdbcType="CHAR" property="isread" />
    <result column="tflag" jdbcType="VARCHAR" property="tflag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, send_id, to_id, chat_msg, chattype, create_time, isread, tflag
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.ChatExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.ChatExample">
    delete from chat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.Chat">
    insert into chat (id, send_id, to_id, 
      chat_msg, chattype, create_time, 
      isread,tflag)
    values (#{id,jdbcType=INTEGER}, #{sendId,jdbcType=VARCHAR}, #{toId,jdbcType=VARCHAR}, 
      #{chatMsg,jdbcType=VARCHAR}, #{chattype,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isread,jdbcType=CHAR},#{tflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.Chat">
    insert into chat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="chatMsg != null">
        chat_msg,
      </if>
      <if test="chattype != null">
        chattype,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isread != null">
        isread,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=VARCHAR},
      </if>
      <if test="chatMsg != null">
        #{chatMsg,jdbcType=VARCHAR},
      </if>
      <if test="chattype != null">
        #{chattype,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isread != null">
        #{isread,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.ChatExample" resultType="java.lang.Long">
    select count(*) from chat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chat
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sendId != null">
        send_id = #{record.sendId,jdbcType=VARCHAR},
      </if>
      <if test="record.toId != null">
        to_id = #{record.toId,jdbcType=VARCHAR},
      </if>
      <if test="record.chatMsg != null">
        chat_msg = #{record.chatMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.chattype != null">
        chattype = #{record.chattype,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isread != null">
        isread = #{record.isread,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chat
    set id = #{record.id,jdbcType=INTEGER},
      send_id = #{record.sendId,jdbcType=VARCHAR},
      to_id = #{record.toId,jdbcType=VARCHAR},
      chat_msg = #{record.chatMsg,jdbcType=VARCHAR},
      chattype = #{record.chattype,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      isread = #{record.isread,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.Chat">
    update chat
    <set>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        to_id = #{toId,jdbcType=VARCHAR},
      </if>
      <if test="chatMsg != null">
        chat_msg = #{chatMsg,jdbcType=VARCHAR},
      </if>
      <if test="chattype != null">
        chattype = #{chattype,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isread != null">
        isread = #{isread,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.Chat">
    update chat
    set send_id = #{sendId,jdbcType=VARCHAR},
      to_id = #{toId,jdbcType=VARCHAR},
      chat_msg = #{chatMsg,jdbcType=VARCHAR},
      chattype = #{chattype,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      isread = #{isread,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectIsReadMsg"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chat
    where to_id=#{0} and isread='0' and send_id=#{1}
  </select>

  <select id="selectlastIsReadMsg"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chat
    where  chattype &lt; '3' and  ((to_id=#{0} and send_id=#{1}) or (to_id=#{1} and send_id=#{0}))  order by create_time desc limit  1
  </select>

  <select id="ParentGetChatList"  resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from chat
  where  chattype &lt; '3' and  ((to_id=#{0} and send_id=#{1}) or (to_id=#{1} and send_id=#{0}))  order by create_time desc limit #{3},#{2}
</select>

  <select id="ChildGetChatList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chat
    where  chattype &lt; '3' and  ((to_id=#{0} and send_id=#{1}) or (to_id=#{1} and send_id=#{0}))  order by create_time desc limit #{3},#{2}
  </select>

  <select id="selectReadImg"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chat
    where to_id=#{0} and send_id=#{1} and chattype='3' order by create_time desc limit 1
  </select>

  <select id="GetUnChat"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from chat
    where  chattype &lt; '3' and  to_id=#{1} and send_id=#{0} and isread='0'
  </select>

  <select id="GetUnChatNumber"  resultType="java.lang.Integer" >
    select
    count(1)
    from chat
    where  chattype &lt; '3' and  to_id=#{0} and send_id=#{1} and isread='0'
  </select>

  <select id="selectCountIsReadMsg"  resultType="java.lang.Integer">
    select
    count(1)
    from chat
    where to_id=#{0} and isread='0' and send_id=#{1} and chattype &lt; '3'
  </select>

  <delete id="deleteChild" >
    delete from chat
    WHERE to_id=#{0} or send_id=#{0}
  </delete>

  <update id="UpdateIsreadMsg" >
    update chat
    set
      isread = '1'
    where send_id = #{0} and to_id = #{1}
  </update>

</mapper>