<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.ChildMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.Child">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="android" jdbcType="VARCHAR" property="android" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="years" jdbcType="TIMESTAMP" property="years" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="flag" jdbcType="CHAR" property="flag" />
    <result column="fk_family_id" jdbcType="VARCHAR" property="fkFamilyId" />
    <result column="fk_img_id" jdbcType="VARCHAR" property="fkImgId" />
    <result column="coordinate" jdbcType="VARCHAR" property="coordinate" />
    <result column="child_type" jdbcType="CHAR" property="childType" />
    <result column="safe_type" jdbcType="VARCHAR" property="safeType" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="fk_customer_id" jdbcType="VARCHAR" property="fkCustomerId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, android, name, sex, grade, years, create_time, flag, fk_family_id, fk_img_id, 
    coordinate, child_type, safe_type, type, fk_customer_id
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.ChildExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.BoeYu.pojo.ChildKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from child
    where  id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.BoeYu.pojo.ChildKey">
    delete from child
    where  android = #{android,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.ChildExample">
    delete from child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.Child">
    insert into child (id, android, name, 
      sex, grade, years, create_time, 
      flag, fk_family_id, fk_img_id, 
      coordinate, child_type, safe_type, 
      type, fk_customer_id)
    values (#{id,jdbcType=INTEGER}, #{android,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{grade,jdbcType=VARCHAR}, #{years,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=CHAR}, #{fkFamilyId,jdbcType=VARCHAR}, #{fkImgId,jdbcType=VARCHAR}, 
      #{coordinate,jdbcType=VARCHAR}, #{childType,jdbcType=CHAR}, #{safeType,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{fkCustomerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.Child">
    insert into child
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="android != null">
        android,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="years != null">
        years,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="fkFamilyId != null">
        fk_family_id,
      </if>
      <if test="fkImgId != null">
        fk_img_id,
      </if>
      <if test="coordinate != null">
        coordinate,
      </if>
      <if test="childType != null">
        child_type,
      </if>
      <if test="safeType != null">
        safe_type,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="fkCustomerId != null">
        fk_customer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="android != null">
        #{android,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="years != null">
        #{years,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="fkFamilyId != null">
        #{fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="fkImgId != null">
        #{fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null">
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="childType != null">
        #{childType,jdbcType=CHAR},
      </if>
      <if test="safeType != null">
        #{safeType,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fkCustomerId != null">
        #{fkCustomerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.ChildExample" resultType="java.lang.Long">
    select count(*) from child
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update child
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.android != null">
        android = #{record.android,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null">
        years = #{record.years,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.fkFamilyId != null">
        fk_family_id = #{record.fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="record.fkImgId != null">
        fk_img_id = #{record.fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="record.coordinate != null">
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.childType != null">
        child_type = #{record.childType,jdbcType=CHAR},
      </if>
      <if test="record.safeType != null">
        safe_type = #{record.safeType,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.fkCustomerId != null">
        fk_customer_id = #{record.fkCustomerId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update child
    set id = #{record.id,jdbcType=INTEGER},
      android = #{record.android,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=CHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      years = #{record.years,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      flag = #{record.flag,jdbcType=CHAR},
      fk_family_id = #{record.fkFamilyId,jdbcType=VARCHAR},
      fk_img_id = #{record.fkImgId,jdbcType=VARCHAR},
      coordinate = #{record.coordinate,jdbcType=VARCHAR},
      child_type = #{record.childType,jdbcType=CHAR},
      safe_type = #{record.safeType,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      fk_customer_id = #{record.fkCustomerId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.Child">
    update child
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="years != null">
        years = #{years,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="fkFamilyId != null">
        fk_family_id = #{fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="fkImgId != null">
        fk_img_id = #{fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null">
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="childType != null">
        child_type = #{childType,jdbcType=CHAR},
      </if>
      <if test="safeType != null">
        safe_type = #{safeType,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fkCustomerId != null">
        fk_customer_id = #{fkCustomerId,jdbcType=VARCHAR},
      </if>
    </set>
    where  android = #{android,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.Child">
    update child
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      grade = #{grade,jdbcType=VARCHAR},
      years = #{years,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=CHAR},
      fk_family_id = #{fkFamilyId,jdbcType=VARCHAR},
      fk_img_id = #{fkImgId,jdbcType=VARCHAR},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      child_type = #{childType,jdbcType=CHAR},
      safe_type = #{safeType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      fk_customer_id = #{fkCustomerId,jdbcType=VARCHAR}
    where  android = #{android,jdbcType=VARCHAR}
  </update>
  <select id="CheckChild" resultType="java.lang.Integer">
    select
    count(1)
    from child
    where android = #{0}
  </select>
  <select id="CheckChildByPhone" resultType="java.lang.Integer">
    select
    count(1)
    from child
    where phone = #{0}
  </select>

  <select id="CheckChildByToken" resultType="java.lang.Integer">
    select
    count(1)
    from child
    where token = #{0}
  </select>

  <update id="LockChild" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      child_type = #{childType,jdbcType=CHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>
  <select id="GetChildByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from child
    where phone = #{0}
  </select>

  <select id="GetChildByAndroid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from child
    where android = #{0}
  </select>

  <update id="updateToken" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      token = #{token,jdbcType=VARCHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>

  <update id="updateSex" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      sex = #{sex,jdbcType=CHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>

  <update id="updateName" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      name = #{name,jdbcType=VARCHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>

  <update id="updateYears" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      years = #{years,jdbcType=TIMESTAMP}
    where android = #{android,jdbcType=VARCHAR}
  </update>

  <update id="updateGrade" parameterType="com.BoeYu.pojo.Child">
    update child
    set
      grade = #{grade,jdbcType=VARCHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>

  <update id="updateType" parameterType="com.BoeYu.pojo.Child">
    update child
    set
       child_type = #{childType,jdbcType=CHAR}
    where android = #{android,jdbcType=VARCHAR}
  </update>


  <update id="updateFlag">
    update child
    set
      flag = #{1}
    where android = #{0}
  </update>

  <select id="CheckCustomerBinding" resultType="java.lang.Integer">
    select
    count(1)
    from child
    where fk_customer_id = #{0}
  </select>

  <select id="selectByAndroid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from child
    where android = #{0}
  </select>

  <delete id="deleteChild">
    delete from child
    where  android = #{0}
  </delete>
</mapper>