<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.CoordinateMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.Coordinate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_child_id" jdbcType="VARCHAR" property="fkChildId" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="coordinate" jdbcType="VARCHAR" property="coordinate" />
    <result column="falg" jdbcType="CHAR" property="falg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fk_child_id, createtime, coordinate, falg
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.CoordinateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coordinate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coordinate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coordinate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.CoordinateExample">
    delete from coordinate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.Coordinate">
    insert into coordinate (id, fk_child_id, createtime, 
      coordinate, falg)
    values (#{id,jdbcType=INTEGER}, #{fkChildId,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{coordinate,jdbcType=VARCHAR}, #{falg,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.Coordinate">
    insert into coordinate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkChildId != null">
        fk_child_id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="coordinate != null">
        coordinate,
      </if>
      <if test="falg != null">
        falg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkChildId != null">
        #{fkChildId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coordinate != null">
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="falg != null">
        #{falg,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.CoordinateExample" resultType="java.lang.Long">
    select count(*) from coordinate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coordinate
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fkChildId != null">
        fk_child_id = #{record.fkChildId,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coordinate != null">
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.falg != null">
        falg = #{record.falg,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coordinate
    set id = #{record.id,jdbcType=INTEGER},
      fk_child_id = #{record.fkChildId,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      coordinate = #{record.coordinate,jdbcType=VARCHAR},
      falg = #{record.falg,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.Coordinate">
    update coordinate
    <set>
      <if test="fkChildId != null">
        fk_child_id = #{fkChildId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coordinate != null">
        coordinate = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="falg != null">
        falg = #{falg,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.Coordinate">
    update coordinate
    set fk_child_id = #{fkChildId,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      falg = #{falg,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="GetCoordinate" resultType="java.lang.String">
select coordinate from coordinate where fk_child_id=#{0} and createtime &gt;= #{1} and createtime &lt;=#{2}
  </select>
</mapper>