<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.Customer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="wxid" jdbcType="VARCHAR" property="wxid" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="fk_img_id" jdbcType="VARCHAR" property="fkImgId" />
    <result column="vip" jdbcType="VARCHAR" property="vip" />
    <result column="vip_time" jdbcType="TIMESTAMP" property="vipTime" />
    <result column="fk_family_id" jdbcType="VARCHAR" property="fkFamilyId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="partnerId" jdbcType="VARCHAR" property="partnerId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, nickname, wxid, sex, login_time, message, phone, status, create_time, fk_img_id, 
    vip, vip_time, fk_family_id, token, update_time, password
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByLogin"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where phone = #{phone,jdbcType=VARCHAR}
    and wxid = #{phone,jdbcType=VARCHAR}
    and password = #{password,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.Customer">
    insert into customer (id, nickname, wxid, 
      sex, login_time, message, 
      phone, status, create_time, 
      fk_img_id, vip, vip_time, 
      fk_family_id, token, update_time, 
      password,partnerId)
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{wxid,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{fkImgId,jdbcType=VARCHAR}, #{vip,jdbcType=VARCHAR}, #{vipTime,jdbcType=TIMESTAMP}, 
      #{fkFamilyId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR},#{partnerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="wxid != null">
        wxid,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="fkImgId != null">
        fk_img_id,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="vipTime != null">
        vip_time,
      </if>
      <if test="fkFamilyId != null">
        fk_family_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkImgId != null">
        #{fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="vipTime != null">
        #{vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkFamilyId != null">
        #{fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.CustomerExample" resultType="java.lang.Long">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.wxid != null">
        wxid = #{record.wxid,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null">
        login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkImgId != null">
        fk_img_id = #{record.fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="record.vip != null">
        vip = #{record.vip,jdbcType=VARCHAR},
      </if>
      <if test="record.vipTime != null">
        vip_time = #{record.vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkFamilyId != null">
        fk_family_id = #{record.fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set id = #{record.id,jdbcType=BIGINT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      wxid = #{record.wxid,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      message = #{record.message,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      fk_img_id = #{record.fkImgId,jdbcType=VARCHAR},
      vip = #{record.vip,jdbcType=VARCHAR},
      vip_time = #{record.vipTime,jdbcType=TIMESTAMP},
      fk_family_id = #{record.fkFamilyId,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.Customer">
    update customer
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        wxid = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkImgId != null">
        fk_img_id = #{fkImgId,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="vipTime != null">
        vip_time = #{vipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkFamilyId != null">
        fk_family_id = #{fkFamilyId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set nickname = #{nickname,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      fk_img_id = #{fkImgId,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=VARCHAR},
      vip_time = #{vipTime,jdbcType=TIMESTAMP},
      fk_family_id = #{fkFamilyId,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectPhone" resultType="java.lang.Integer">
    select
    count(1)
    from customer
    where phone = #{0}
  </select>

  <select id="selectToken" resultType="java.lang.Integer">
    select
    count(1)
    from customer
    where token = #{0}
  </select>

  <update id="updateToken" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      token = #{token,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

  <select id="GetCustomerByToken"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where token = #{0}
  </select>
  <update id="updateChild" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      fk_family_id = #{fkFamilyId,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateName" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      nickname = #{nickname,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

  <update id="updatepassword" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      password = #{password,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

  <update id="updateVipTime" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      vip_time = #{vipTime,jdbcType=TIMESTAMP}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

  <update id="updateVip" parameterType="com.BoeYu.pojo.Customer">
    update customer
    set
      vip = #{vip,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

  <select id="GetCustomerByPhone"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where phone = #{0}
  </select>

  <select id="Getpassword"  resultType="java.lang.String">
    select
    password
    from customer where phone = #{0}
  </select>

  <select id="GetMoney"  resultType="java.lang.String">
    select SUM(money) FROM  rechargelog  where fk_customer_id = #{0}
  </select>
</mapper>