<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BoeYu.mapper.RegionTimeMapper">
  <resultMap id="BaseResultMap" type="com.BoeYu.pojo.RegionTime">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="week" jdbcType="VARCHAR" property="week" />
    <result column="startTime" jdbcType="VARCHAR" property="starttime" />
    <result column="fk_region_id" jdbcType="VARCHAR" property="fkRegionId" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="endTime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, week, startTime, fk_region_id, flag, endTime
  </sql>
  <select id="selectByExample" parameterType="com.BoeYu.pojo.RegionTimeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from region_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from region_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from region_time
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.BoeYu.pojo.RegionTimeExample">
    delete from region_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.BoeYu.pojo.RegionTime">
    insert into region_time (id, week, startTime, 
      fk_region_id, flag, endTime
      )
    values (#{id,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, 
      #{fkRegionId,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.BoeYu.pojo.RegionTime">
    insert into region_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="week != null">
        week,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="fkRegionId != null">
        fk_region_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="fkRegionId != null">
        #{fkRegionId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.BoeYu.pojo.RegionTimeExample" resultType="java.lang.Long">
    select count(*) from region_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update region_time
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.week != null">
        week = #{record.week,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=VARCHAR},
      </if>
      <if test="record.fkRegionId != null">
        fk_region_id = #{record.fkRegionId,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update region_time
    set id = #{record.id,jdbcType=INTEGER},
      week = #{record.week,jdbcType=VARCHAR},
      startTime = #{record.starttime,jdbcType=VARCHAR},
      fk_region_id = #{record.fkRegionId,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=VARCHAR},
      endTime = #{record.endtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.BoeYu.pojo.RegionTime">
    update region_time
    <set>
      <if test="week != null">
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="fkRegionId != null">
        fk_region_id = #{fkRegionId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.BoeYu.pojo.RegionTime">
    update region_time
    set week = #{week,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=VARCHAR},
      fk_region_id = #{fkRegionId,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="UpdateRegionTimes" parameterType="com.BoeYu.pojo.RegionTime">
    update region_time
    set
      startTime = #{starttime,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=VARCHAR}
    where fk_region_id = #{fkRegionId,jdbcType=VARCHAR} and week = #{week,jdbcType=VARCHAR}
  </update>

  <delete id="deleteRegionTimes" parameterType="java.lang.Integer">
    delete from region_time
    where fk_region_id = #{0}
  </delete>

  <select id="SelectRegionTime" parameterType="com.BoeYu.pojo.RegionTimeExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from region_time where
    fk_region_id = #{0}
  </select>
</mapper>